@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');


html {
  min-height: 100%;
}
body {
  font-family: 'Lato', sans-serif;

  background: linear-gradient(rgb(34, 37, 49) 0%, rgba(23, 23, 26) 413px);
  color: white;
  font-size: 15px;
}
.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin-bottom: 50px;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: #e2e2e2;
}

.search-field {
  color: white;
  background-color: transparent;
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  outline: none;
}
.search-field::placeholder {
  color: white;
}
.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.coin-text {
  text-align: center;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #40424e;
  margin-top: 5px;
  padding-bottom: 5px;
}
.coin-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.segment {
  width: 15%;
  display: flex;
  align-items: center;

}
.price-segment {
  width: 20%;
  display: flex;
  justify-content: center;
}
.input-segment {
  width: 30%;
  display: flex;
  justify-content: center;
}
.value-segment {
  width: 25%;
  display: flex;
  justify-content: center;
}
.segment-delete-button {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}
.amount-input {
  background-color: #323546;
  color: white;
  border-radius: 5px;
  border: none;
  text-align: right;
}
.amount-input:focus:active:hover {
    background-color: #323546;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: right;
}
.amount-input:-webkit-autofill {
  background-color: #323546;
  color: white;
  border-radius: 5px;
  border: none;
  text-align: right;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  
  background-color: #323546;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;  
}
.delete-img {
  height: 10px;
  width: 10px;
  background: transparent;
}
/* .titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.segment {
    flex: 1 1 0px; 
    width: 0px;
}
.value-segment {
    flex: 1 1 0px; 
    width: 0px;
    text-align: rgiht;

}


.delete-button {
    display: flex;
    justify-content:flex-end ;
}
.value-segment {
    display: flex;
    justify-content:flex-end ;
}

.price-segment {
    display: flex;
    justify-content: flex-end ;
}
.input-segment {
    display: flex;
    justify-content: flex-end ;
} */
